.Activity {
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  position: relative;
  border: 1px solid #666;

  &Img {
    width: 100%;

    & img {
      max-width: 100%;
    }
  }

  & .deleteIcon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: #111;
    font-size: 2rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.DraggableActivity {
  cursor: grab;
}
