.MiniTrip {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;

  &:hover {
    & .deleteIcon {
      opacity: 1;
    }
  }

  &Title {
    text-align: center;
  }

  &Img {
    width: 100%;
    text-align: center;

    & img {
      max-width: 100%;
      border-radius: 5px;
    }
  }
}

.deleteIcon {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: #111;
  font-size: 2rem;
  opacity: 0;

  &:hover {
    transform: scale(1.3);
  }
}
